.list-gen {
    font-family: Helvetica, sans-serif;
    color: #272727;
}
.shuffle-btn {
    color: white;
    background-color: #272727;
    padding: 5px 10px;
    display: block;
}
.shuffle-btn:hover {
    cursor: pointer;
    background-color: #404040;
}
.shuffle-btn:active {
    background-color: #606060;
}